body {
  font: 19px 'trebuchet MS', 'lucida sans';
}

#number-input {
  margin: 0;
  padding: 7px;
}

#set-new-value-form button[type="submit"] {
  position: relative;
  top: 3.5px;
  display:inline-block;
}

h3 {
  position: relative;
  left: -.3em;
}

ol {
  counter-reset: li;
  list-style: none;
  padding: 0;
  margin-bottom: 4em;
}

.rounded-list li{
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: 1em 0;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out;
}

.rounded-list li:hover:before{
  transform: rotate(360deg);
}

.rounded-list li:before{
  content: counter(li);
  counter-increment: li;
  position: relative;
  display: block;
  left: -2.3em;
  float: left;
  margin-top: -0.6em;
  background: #87ceeb;
  height: 2.3em;
  width: 2.3em;
  line-height: 1.7em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}

.interaction-with-contract {
  margin: 1em 0 0 1em;
}

.function-description {
  position: relative;
  left: -1.4em;
}

html #ual-button {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #007bff;
  border: 1px solid #007bff;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-family: inherit;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  width: auto;
}

html #ual-button:not(:disabled):not(.disabled) {
    cursor: pointer;
}

html #ual-button:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

html #ual-button:not(:disabled):not(.disabled).active,
html #ual-button:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

html #ual-button.focus,
html #ual-button:focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}